site_name: OSG School 2024
site_url: https://osg-htc.org/school-2024/
repo_name: null
theme:
  name: material
  logo: assets/OSG_Logo.svg
  favicon: assets/OSG_Logo.png

markdown_extensions:
  - attr_list
  - admonition
  - codehilite:
      guess_lang: False
  - meta
  - pymdownx.details
  - toc:
      permalink: True

extra_css:
  - stylesheets/code-highlight.css
  - stylesheets/osg.css

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/OSGSchool
      name: OSG School on Twitter

nav:
  - Home:                           index.md
  - Schedule:                       schedule.md
  - Logistics:
    - General information:          logistics/index.md
    - Travel:
      - Travel planning:            logistics/travel-planning.md
    - Visa requirements:            logistics/visas.md
    - Hotel information:            logistics/hotel.md
    - Account setup:                logistics/account-setup.md
